<div class="footer-wrapper hidden-print">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="footer-title">MAIN LINKS</div>
                <ul class="footer-list">
                    <li><a href='/'>Home</a></li>
                    <li><a href="/Testimonials">Testimonials</a></li>
                    <li><a href="/Blog">Blog</a></li>
                    <li><a href="/Inquiry">Inquiry</a></li>
                    <li><a href="/ChassisCheck">Chassis Check</a></li>
                    <li><a href="/Careers">Careers</a></li>

                    <li><a href="/Promotions">Promotions</a></li>
                </ul>



                <div class="footer-title">Like us on facebook</div>
                <div class="fb-like" data-href="https://www.facebook.com/yuasatrading" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="footer-title">INFORMATION</div>
                <ul class="footer-list">
                    <li><a href="/Topic/about-us">About Us</a></li>
                    <li><a href="/Topic/corporate-profile">Corporate Profile</a></li>
                    <li><a href="/Topic/terms-conditions">Terms &amp; Conditions</a></li>
                    <li><a href="/Topic/shipping-terms">Shipping Terms</a></li>
                    <li><a href="/Topic/used-car-buying-tips">Used Car Buying Tips</a></li>
                    <li><a href="/Topic/dealer-tricks">Dealer Tricks</a></li>
                    <li><a href="/Topic/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/Topic/contact-us">Contact Us</a></li>
                </ul>

            </div>
            <div class="col-sm-12 col-md-3">
                <div class="footer-title">REGIONAL SHOWROOMS</div>
                <ul class="footer-list">
                    <li><a href="/jp" data-countryCode="jp"><span class="flag flag-jp"></span> Japan</a></li>
                    <li><a href="/tz" data-countryCode="tz"><span class="flag flag-tz"></span> Tanzania</a></li>
                    <li><a href="/ke" data-countryCode="ke"><span class="flag flag-ke"></span> Kenya</a></li>
                    <li><a href="/ug" data-countryCode="ug"><span class="flag flag-ug"></span> Uganda</a></li>

                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="footer-title">CAREERS</div>
                <a href="/Careers"> <img src="/Content/Images/Career-Banner.jpg" alt="Career" /></a>

                <div class="footer-title">PAYMENT METHODS</div>
                <img src="/Content/Images/payment-options.png" alt="payment options" />


                <div class="footer-title">STAY CONNECTED</div>
                <ul class="socialSprite">
                    <li><a href="http://www.facebook.com/yuasatrading" class="i-social-1" target="_blank" title="Facebook"></a></li>
                    <li><a href="http://plus.google.com/" class="i-social-2" target="_blank" title="Google Plus"></a></li>
                    <li><a href="http://www.linkedin.com" class="i-social-3" target="_blank" title="Linked In"></a></li>
                    <li><a href="http://www.twitter.com/yuasatrading" class="i-social-4" target="_blank" title="Twitter"></a></li>
                    <li><a href="https://pinterest.com/yuasatrading" class="i-social-5" target="_blank" title="Pinterest"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="foot-stamp-wrapper hidden-print">
    <div class="container">
        <div class="row" style="margin-bottom:0">
            <div class="col-sm-12">
                <span class="glyphicon glyphicon-copyright-mark"></span> Copyrights 2018 <span class="client-name">Yuasa Trading</span>. All rights reserved.
                <div style="height:5px"></div>
                A website by <a href="http://www.webnomicstech.net" target="_blank"><span class="wt-logo"></span> Webnomics Technologies.</a>
            </div>
        </div>
    </div>
</div>

