<div class="row">
    <div class="col-md-6">
        <a href="/LowBudget"><img class="img-responsive center-block" src="/Content/Images/low-budget.jpg" title="Low Budget" alt="Low Budget" /></a>
    </div>
    <div class="col-md-6">
        <a href="/LowMileage"><img class="img-responsive center-block low-mileage" src="/Content/Images/low-mileage.jpg" title="Low Mileage" alt="Low Mileage" /></a>
    </div>
</div>
