<div class="heading-bar">
    <span class="title">Recent Posts</span>
    <a class="button" href="/Blog">View All</a>
</div>
<div class="block">
    <ul class="block-list blog-list">
        <li>
            <a href="/Blog/Post/auto-window-roll-down-stopped-working"><strong>Auto window roll down stopped working</strong></a>
            <br />
            In Japanese Cars auto window roll down feature stopped working, How to fix it with out going to garage and paying unnecessary costs.
            <div class="clearfix readm">
                <div class="pull-left text-muted" style="margin:3px 0;font-size:11px;font-style:italic">
                    Mar 18, 2015 06:30 PM
                </div>
                <a class="pull-right" style="font-size:12px;" href="/Blog/Post/auto-window-roll-down-stopped-working">Read More <span class="glyphicon glyphicon-share-alt"></span></a>
            </div>
        </li>
    </ul>
</div>


