<div class="heading-bar">
    <span class="title">SEARCH BY TYPE</span>
</div>

<div class="block">
    <ul class="vtype-list clearfix">
        <li><a href="/Type/Sedan" class="sedan"><span></span><br />Sedan</a></li>
        <li><a href="/Type/Hatchback" class="hatchback"><span></span><br />Hatchback</a></li>
        <li><a href="/Type/Sport" class="sport"><span></span><br />Sport</a></li>
        <li><a href="/Type/SUV_or_4WD" class="suv_or_4wd"><span></span><br />SUV or 4WD</a></li>
        <li><a href="/Type/Wagon" class="wagon"><span></span><br />Wagon</a></li>
        <li><a href="/Type/Van" class="van"><span></span><br />Van</a></li>
        <li><a href="/Type/Mini_Bus" class="mini_bus"><span></span><br />Mini Bus</a></li>
        <li><a href="/Type/Bus" class="bus"><span></span><br />Bus</a></li>
        <li><a href="/Type/Truck" class="truck"><span></span><br />Truck</a></li>
        <li><a href="/Type/Machinery" class="machinery"><span></span><br />Machinery</a></li>
    </ul>
</div>


