<div class="heading-bar">
    <span class="title">SPECIAL OFFERS</span>
    <a href="/SpecialOffers" class="button">View All</a>
</div>
<div class="block">
    <ul class="block-list clearfix">
        <li class="clearfix" style="padding-top:5px;padding-bottom:5px">
            <a href="/Catalog/Details/ytc-3253">
                <img class="img-responsive img-thumbnail center-block" src="/Img/Get/3253.jpg?w=151&amp;h=95&amp;sku=1557&amp;isReserved=False&amp;isSold=False" title="Toyota Land Cruiser Wagon" alt="Toyota Land Cruiser Wagon">
            </a>
            <div class="clearfix" style="margin:3px 0">
                <a href="/Catalog/Details/ytc-3253">
                    <strong>
                        <span class="pull-left">Land Cruiser Wagon</span>
                        <span class="pull-right">2016</span>
                    </strong>
                </a>
            </div>
            <div class="clearfix">
                <span class="pull-left"><strong>DDP:</strong> <span class="text-st text-muted ">130,000</span></span>
                <span class="pull-right">127,600 US $</span>
            </div>
            <div class="clearfix">
                <div class="pull-left">
                    <div class="text-muted" style="margin-top:3px;font-size:11px;font-style:italic">
                        <span class="flag flag-ug"></span>
                        Uganda
                    </div>
                </div>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-gift help-icon" style="color:#468847;cursor:pointer" data-toggle="tooltip" data-placement="top" title="SPECIAL OFFER: Fully Serviced, Full Tank Fuel"></span>
                </div>
            </div>
        </li>
        <li class="clearfix" style="padding-top:5px;padding-bottom:5px">
            <a href="/Catalog/Details/ytc-3234">
                <img class="img-responsive img-thumbnail center-block" src="/Img/Get/3234.jpg?w=151&amp;h=95&amp;sku=1538&amp;isReserved=False&amp;isSold=False" title="Nissan Civilian" alt="Nissan Civilian">
            </a>
            <div class="clearfix" style="margin:3px 0">
                <a href="/Catalog/Details/ytc-3234">
                    <strong>
                        <span class="pull-left">Civilian</span>
                        <span class="pull-right">1998</span>
                    </strong>
                </a>
            </div>
            <div class="clearfix">
                <span class="pull-left"><strong>DDP:</strong> <span class="text-st text-muted ">23,000</span></span>
                <span class="pull-right">21,000 US $</span>
            </div>
            <div class="clearfix">
                <div class="pull-left">
                    <div class="text-muted" style="margin-top:3px;font-size:11px;font-style:italic">
                        <span class="flag flag-tz"></span>
                        Tanzania
                    </div>
                </div>
                <div class="pull-right">
                </div>
            </div>
        </li>
        <li class="clearfix" style="padding-top:5px;padding-bottom:5px">
            <a href="/Catalog/Details/ytc-3124">
                <img class="img-responsive img-thumbnail center-block" src="/Img/Get/3124.jpg?w=151&amp;h=95&amp;sku=1427&amp;isReserved=False&amp;isSold=False" title="Chrysler Jeep Cherokee" alt="Chrysler Jeep Cherokee">
            </a>
            <div class="clearfix" style="margin:3px 0">
                <a href="/Catalog/Details/ytc-3124">
                    <strong>
                        <span class="pull-left">Jeep Cherokee</span>
                        <span class="pull-right">2005</span>
                    </strong>
                </a>
            </div>
            <div class="clearfix">
                <span class="pull-left"><strong>DDP:</strong> <span class="text-st text-muted ">19,400</span></span>
                <span class="pull-right">13,800 US $</span>
            </div>
            <div class="clearfix">
                <div class="pull-left">
                    <div class="text-muted" style="margin-top:3px;font-size:11px;font-style:italic">
                        <span class="flag flag-tz"></span>
                        Tanzania
                    </div>
                </div>
                <div class="pull-right">
                </div>
            </div>
        </li>
    </ul>
</div>
