@{
    ViewBag.Title = "Home Page";
}

@section slider{
    @*slider starts*@
    <div class="hidden-xs hidden-sm col-md-9">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">

                <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item" style="height:300px;text-align:center;overflow:hidden">
                    <img src="/Img/Get/slide_3.jpg?w=848&amp;h=300&amp;wm=False&amp;d=slides%2F" style="width:848px;height:300px;" />

                </div>
                <div class="item" style="height:300px;text-align:center;overflow:hidden">
                    <img src="/Img/Get/slide_2.jpg?w=848&amp;h=300&amp;wm=False&amp;d=slides%2F" style="width:848px;height:300px;" />

                </div>
                <div class="item" style="height:300px;text-align:center;overflow:hidden">
                    <img src="/Img/Get/slide_4.jpg?w=848&amp;h=300&amp;wm=False&amp;d=slides%2F" style="width:848px;height:300px;" />

                </div>
                <div class="item" style="height:300px;text-align:center;overflow:hidden">
                    <img src="/Img/Get/slide_19.jpg?w=848&amp;h=300&amp;wm=False&amp;d=slides%2F" style="width:848px;height:300px;" />

                </div>
                <div class="item" style="height:300px;text-align:center;overflow:hidden">
                    <img src="/Img/Get/slide_14.jpg?w=848&amp;h=300&amp;wm=False&amp;d=slides%2F" style="width:848px;height:300px;" />

                </div>
                <div class="item" style="height:300px;text-align:center;overflow:hidden">
                    <img src="/Img/Get/slide_20.jpg?w=848&amp;h=300&amp;wm=False&amp;d=slides%2F" style="width:848px;height:300px;" />

                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <script>
            $('.carousel .carousel-indicators li:first').addClass("active");
            $('.carousel .carousel-inner .item:first').addClass("active");
        </script>
    </div>
    @*slider ends*@
}


@*body starts*@
<h2>New Arrivals</h2>

<div class="row">
    <div class="clearfix">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail clearfix product-box">
                <a href="/Catalog/Details/ytc-3253" target="_blank">
                    <img class="product-img img-responsive" src="/Img/Get/3253.jpg?w=700&amp;h=432&amp;sku=3253&amp;isReserved=False&amp;isSold=False" title="Toyota Land Cruiser Wagon" alt="Toyota Land Cruiser Wagon">
                </a>
                <div class="caption">
                    <div class="clearfix title">
                        <strong class="pull-left">Toyota Land Cruiser Wagon</strong>
                        <strong class="pull-right">2016</strong>
                    </div>
                    <div class="clearfix">
                        <span class="pull-left">SKU #:</span>
                        <span class="pull-right">
                            <span class="glyphicon glyphicon-gift help-icon" style="color:#468847;cursor:pointer" data-toggle="tooltip" data-placement="top" title="SPECIAL OFFER: Fully Serviced, Full Tank Fuel"></span>
                            3253
                        </span>
                    </div>
                    <div class="clearfix"><span class="pull-left">Location:</span><span class="pull-right">Uganda</span></div>
                    <div class="clearfix "><span class="pull-left">Chassis:</span><span class="pull-right chasisstyle" title="URJ202W-4120337">URJ202W-4120337</span></div>
                    <div class="clearfix" style="height:40px">
                        <span class="pull-left">
                            <strong>DDP:</strong> <span class="text-st text-muted">130,000</span>                                            <br /><strong>US $ </strong> 127,600
                        </span>
                        <a href="/Catalog/Details/ytc-3253" class="details-btn pull-right" target="_blank">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail clearfix product-box">
                <a href="/Catalog/Details/ytc-3240" target="_blank">
                    <img class="product-img img-responsive" src="/Img/Get/3240.jpg?w=700&amp;h=432&amp;sku=3240&amp;isReserved=False&amp;isSold=False" title="Toyota Ractis" alt="Toyota Ractis">
                </a>
                <div class="caption">
                    <div class="clearfix title">
                        <strong class="pull-left">Toyota Ractis</strong>
                        <strong class="pull-right">2006</strong>
                    </div>
                    <div class="clearfix">
                        <span class="pull-left">SKU #:</span>
                        <span class="pull-right">
                            3240
                        </span>
                    </div>
                    <div class="clearfix"><span class="pull-left">Location:</span><span class="pull-right">Tanzania</span></div>
                    <div class="clearfix "><span class="pull-left">Chassis:</span><span class="pull-right chasisstyle" title="SCP100-0017927">SCP100-0017927</span></div>
                    <div class="clearfix" style="height:40px">
                        <a href="/Catalog/Details/ytc-3240" class="details-btn pull-right" target="_blank">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail clearfix product-box">
                <a href="/Catalog/Details/ytc-3234" target="_blank">
                    <img class="product-img img-responsive" src="/Img/Get/3234.jpg?w=700&amp;h=432&amp;sku=3234&amp;isReserved=False&amp;isSold=False" title="Nissan Civilian" alt="Nissan Civilian">
                </a>
                <div class="caption">
                    <div class="clearfix title">
                        <strong class="pull-left">Nissan Civilian</strong>
                        <strong class="pull-right">1998</strong>
                    </div>
                    <div class="clearfix">
                        <span class="pull-left">SKU #:</span>
                        <span class="pull-right">
                            3234
                        </span>
                    </div>
                    <div class="clearfix"><span class="pull-left">Location:</span><span class="pull-right">Tanzania</span></div>
                    <div class="clearfix "><span class="pull-left">Chassis:</span><span class="pull-right chasisstyle" title="RGW40-102138">RGW40-102138</span></div>
                    <div class="clearfix" style="height:40px">
                        <span class="pull-left">
                            <strong>DDP:</strong> <span class="text-st text-muted">23,000</span>                                            <br /><strong>US $ </strong> 21,000
                        </span>
                        <a href="/Catalog/Details/ytc-3234" class="details-btn pull-right" target="_blank">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail clearfix product-box">
                <a href="/Catalog/Details/ytc-3231" target="_blank">
                    <img class="product-img img-responsive" src="/Img/Get/3231.jpg?w=700&amp;h=432&amp;sku=3231&amp;isReserved=False&amp;isSold=False" title="Suzuki Escudo" alt="Suzuki Escudo">
                </a>
                <div class="caption">
                    <div class="clearfix title">
                        <strong class="pull-left">Suzuki Escudo</strong>
                        <strong class="pull-right">2006</strong>
                    </div>
                    <div class="clearfix">
                        <span class="pull-left">SKU #:</span>
                        <span class="pull-right">
                            3231
                        </span>
                    </div>
                    <div class="clearfix"><span class="pull-left">Location:</span><span class="pull-right">Uganda</span></div>
                    <div class="clearfix "><span class="pull-left">Chassis:</span><span class="pull-right chasisstyle" title="TD54W-202491">TD54W-202491</span></div>
                    <div class="clearfix" style="height:40px">
                        <a href="/Catalog/Details/ytc-3231" class="details-btn pull-right" target="_blank">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail clearfix product-box">
                <a href="/Catalog/Details/ytc-3229" target="_blank">
                    <img class="product-img img-responsive" src="/Img/Get/3229.jpg?w=700&amp;h=432&amp;sku=3229&amp;isReserved=False&amp;isSold=False" title="Toyota Harrier" alt="Toyota Harrier">
                </a>
                <div class="caption">
                    <div class="clearfix title">
                        <strong class="pull-left">Toyota Harrier</strong>
                        <strong class="pull-right">2008</strong>
                    </div>
                    <div class="clearfix">
                        <span class="pull-left">SKU #:</span>
                        <span class="pull-right">
                            3229
                        </span>
                    </div>
                    <div class="clearfix"><span class="pull-left">Location:</span><span class="pull-right">Uganda</span></div>
                    <div class="clearfix "><span class="pull-left">Chassis:</span><span class="pull-right chasisstyle" title="ACU35W-0022688">ACU35W-0022688</span></div>
                    <div class="clearfix" style="height:40px">
                        <a href="/Catalog/Details/ytc-3229" class="details-btn pull-right" target="_blank">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail clearfix product-box">
                <a href="/Catalog/Details/ytc-3202" target="_blank">
                    <img class="product-img img-responsive" src="/Img/Get/3202.jpg?w=700&amp;h=432&amp;sku=3202&amp;isReserved=False&amp;isSold=False" title="Toyota Wish" alt="Toyota Wish">
                </a>
                <div class="caption">
                    <div class="clearfix title">
                        <strong class="pull-left">Toyota Wish</strong>
                        <strong class="pull-right">2005</strong>
                    </div>
                    <div class="clearfix">
                        <span class="pull-left">SKU #:</span>
                        <span class="pull-right">
                            3202
                        </span>
                    </div>
                    <div class="clearfix"><span class="pull-left">Location:</span><span class="pull-right">Tanzania</span></div>
                    <div class="clearfix "><span class="pull-left">Chassis:</span><span class="pull-right chasisstyle" title="ZNE10-0240536">ZNE10-0240536</span></div>
                    <div class="clearfix" style="height:40px">
                        <a href="/Catalog/Details/ytc-3202" class="details-btn pull-right" target="_blank">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail clearfix product-box">
                <a href="/Catalog/Details/ytc-3201" target="_blank">
                    <img class="product-img img-responsive" src="/Img/Get/3201.jpg?w=700&amp;h=432&amp;sku=3201&amp;isReserved=False&amp;isSold=False" title="Toyota Passo" alt="Toyota Passo">
                </a>
                <div class="caption">
                    <div class="clearfix title">
                        <strong class="pull-left">Toyota Passo</strong>
                        <strong class="pull-right">2006</strong>
                    </div>
                    <div class="clearfix">
                        <span class="pull-left">SKU #:</span>
                        <span class="pull-right">
                            3201
                        </span>
                    </div>
                    <div class="clearfix"><span class="pull-left">Location:</span><span class="pull-right">Tanzania</span></div>
                    <div class="clearfix "><span class="pull-left">Chassis:</span><span class="pull-right chasisstyle" title="KGC10-0125518">KGC10-0125518</span></div>
                    <div class="clearfix" style="height:40px">
                        <a href="/Catalog/Details/ytc-3201" class="details-btn pull-right" target="_blank">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail clearfix product-box">
                <a href="/Catalog/Details/ytc-3200" target="_blank">
                    <img class="product-img img-responsive" src="/Img/Get/3200.jpg?w=700&amp;h=432&amp;sku=3200&amp;isReserved=False&amp;isSold=False" title="Suzuki Swift" alt="Suzuki Swift">
                </a>
                <div class="caption">
                    <div class="clearfix title">
                        <strong class="pull-left">Suzuki Swift</strong>
                        <strong class="pull-right">2003</strong>
                    </div>
                    <div class="clearfix">
                        <span class="pull-left">SKU #:</span>
                        <span class="pull-right">
                            3200
                        </span>
                    </div>
                    <div class="clearfix"><span class="pull-left">Location:</span><span class="pull-right">Tanzania</span></div>
                    <div class="clearfix "><span class="pull-left">Chassis:</span><span class="pull-right chasisstyle" title="HT51S-803546">HT51S-803546</span></div>
                    <div class="clearfix" style="height:40px">
                        <a href="/Catalog/Details/ytc-3200" class="details-btn pull-right" target="_blank">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail clearfix product-box">
                <a href="/Catalog/Details/ytc-3195" target="_blank">
                    <img class="product-img img-responsive" src="/Img/Get/3195.jpg?w=700&amp;h=432&amp;sku=3195&amp;isReserved=False&amp;isSold=False" title="Toyota Raum" alt="Toyota Raum">
                </a>
                <div class="caption">
                    <div class="clearfix title">
                        <strong class="pull-left">Toyota Raum</strong>
                        <strong class="pull-right">2008</strong>
                    </div>
                    <div class="clearfix">
                        <span class="pull-left">SKU #:</span>
                        <span class="pull-right">
                            3195
                        </span>
                    </div>
                    <div class="clearfix"><span class="pull-left">Location:</span><span class="pull-right">Tanzania</span></div>
                    <div class="clearfix "><span class="pull-left">Chassis:</span><span class="pull-right chasisstyle" title="NCZ20-0126894">NCZ20-0126894</span></div>
                    <div class="clearfix" style="height:40px">
                        <a href="/Catalog/Details/ytc-3195" class="details-btn pull-right" target="_blank">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*body ends*@